h1{

    color:blue;
    background-color: white;
}
p{

    color:red;
    background-color: black;
}
.sonia{
    color:white;
    background-color: black;
    font-size: 16px;
}
.munia{

color:green;
background-color: white;
font-size: 21px;

}


